.App {
  min-height: 100vh;
}

.editor {
  height: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

li.selected {
  background: #ddd;
}

li.changes {
  font-style: italic;
  font-weight: bold;
  svg {
    color: red;
  }
}

.filebrowser ul {
  padding-left: 10px;
  ul {
    border-left: 2px solid grey;
    &.dragging {
      border-left: 2px solid lime;
    }
  }
  li {
    list-style: none;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.BtnProgress {
  width: 250px;
  height: 1rem;
}